.navBar {
  background-color: #c7a987;
}

.images {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.buttonDetails {
  background-color: #c7a987;
}

.addPets {

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
  Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  height: 65px;
  width: 65px;
  line-height: 65px;
  font-size: 2.5em;
  text-decoration: none;
  color: white;
  text-align: center;
  border-radius: 50%;
  background-color: #c7a987;
  border: none;
  cursor: pointer;
  position: fixed;
  z-index: 1;
  bottom: 5%;
  right: 5%;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
}